<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Theme/bundle/css")
    </head>
    <body>
        <header id="header">
            <div id="top-header">
                <nav>
                    <ul id="menu">
                        <li class="left"><a href="/" id="Home" title="Invoices"><img src="/Content/Images/Invoice2.png" alt="Invoices" title="Invoices" /></a></li>
                        @Html.Partial("_LoginPartial")
                        <li class="left"><a href="/CRM" title="User Info"><img src="/Content/Images/User2.png" alt="User Info" title="User Info" /></a></li>
                        <li class="left"><a href="/CRM" title="Business Info"><img src="/Content/Images/Business2.png" alt="Business Info" title="Business Info" /></a></li>
                        <li class="left"><a href="/Project" title="Projects"><img src="/Content/Images/Project2.png" alt="Projects" title="Projects" /></a></li>
                        <li class="left"><a href="/CRM" title="Activities"><img src="/Content/Images/Activity2.png" alt="Activities" title="Activities" /></a></li>
                        <li class="left"><a href="/CRM" title="Messages"><img src="/Content/Images/Message2.png" alt="Messages" title="Messages" /></a></li>
                    </ul>
                </nav>
            </div>
            <div id="search">
                <div class="inputWrapper">
                    <a href="/" class="image right searchToggle toggle" data-bind="event: { click: setRecent }" title="Recent Searches"><img src="/Content/Images/asc.gif" title="Recent Searches" alt="Recent Searches" /></a>
                    <label for="q"><img src="/Content/Images/Search.png" width="16px" height="16px" title="Search Icon" alt="Search Icon"></label>
                    <input type="text" placeholder="Search Concierge" name="q" id="q" data-bind="event: { blur: addRecent, keyup: doSearch }" />
                </div>
                <div class="search" data-bind="visible: showRecent">
                    <h4>Recent Searches</h4>
                    <div class="recentSearches" data-bind="foreach: recent">
                        <a data-bind="text: text, attr: { href: href, title: text }"></a>
		            </div>
                </div>
                <div class="searchResults" data-bind="visible: showResults">
                    <h4>Results</h4>
                    <div class="results" data-bind="foreach: results">
                        <a data-bind="text: Text, attr: { href: Value, title: text }"></a>
		            </div>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="three columns" id="notifications">
                <div class="content">
                    <hgroup class="title" data-bind="event: { click: setToggle }">
                        <h3><img src="/Content/Images/Notification.png" class="right" title="Notifications" alt="Notifications" />Notifications</h3>
                    </hgroup>
                    <ol class="data" data-bind="visible: toggle, foreach: notifications">
                        <li data-bind="html: Text">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="three columns" id="onlineUsers">
                <div class="content">
                    <hgroup class="title" data-bind="event: { click: setToggle }">
                        <h3><img src="/Content/Images/User.png" class="right" title="Online Users" alt="Online Users" />Online Users</h3>
                    </hgroup>
                    <ol class="data" data-bind="visible: toggle, foreach: users">
                        <li data-bind="html: Name">
                        </li>
                    </ol>
                </div>
            </div>
            &nbsp;
        </footer>

        <script src="~/Scripts/JQuery/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/KnockoutJS/knockout-3.2.0.js"></script>
        <script src="~/Scripts/Main/Main.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
